
body {
	background:gray;
}

div {
	margin:100px;
	width:500px;
	height:400px;
	background:white;
}

h1 {
	margin-top:40px;
	color:gray;
}

button {
	width:400px;
	height:40px;
	border-radius: 20px;
	}

a {
  color: white;
	border-radius:20px;
	border-color:blue;
	text-decoration:none;
}

a:hover {
  text-decoration: none;
  background-color: green;
  text-decoration: none;
}

input {
	padding-left:10px;
	border-radius: 20px;
	width:400px;
	height:40px;
	font-size:25px;
}

#btn-login{
  background: #01A4E0;
	padding:10 182 10 182;
}

#btn-login:hover{
  background: blue;
}

#btn-register{
	 background:#ee695d; 
	padding:10 175 10 175;
}

#btn-register:hover{
	 background:red; 
}

#btn-forget{
	background:#a28d8a;
	padding:10 142 10 142;
}

#btn-forget:hover{
	 background:#3c3939; 
}
