
body {
	background:gray;
}

div {
	margin:100px;
	width:500px;
	height:400px;
	background:white;
}

h1 {
	margin-top:20px;
	color:gray;
}

button {
	width:400px;
	height:40px;
	border-radius: 20px;
	}

a {
  color: white;
	border-radius:20px;
	border-color:blue;
	text-decoration:none;
}

a:hover {
  text-decoration: none;
  background-color: green;
  text-decoration: none;
}

input {
	padding-left:10px;
	border-radius: 20px;
	width:400px;
	height:40px;
	font-size:25px;
}

#btn-register{
  background: #01A4E0;
	padding:10 175 10 175;
}

#btn-register:hover{
  background: blue;
}

#btn-login{
	 background:#ee695d; 
	padding:10 120 10 120;
}

#btn-login:hover{
	 background:red; 
}
